body {
    color: #FFF;
    font-family: "游明朝", "游明朝体",sans-serif;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}


.section-title {
    display: inline-block;
    font-size: 32px;
    font-family: 'メイリオ';
    letter-spacing: 5px;
    padding-top: 50px;
    position: relative;
    &::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: #DDD;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }
    &:hover::after{
        bottom: -3px;
        opacity: 1;
        visibility: visible;
    }
}
