.main {
    width: 100%;
    background-color: #111;
    &-visual {
        width: 100%;
        margin: 0 auto;
        padding-top: 70px;
        .swiper-container {
            width: 100%;
            height: 700px;
            .swiper-wrapper {
                .swiper-slide {
                    position: relative;
                    img {
                    }
                    .slide-text {
                        position: absolute;
                        top: 70%;
                        right: 0;
                        max-width: 500px;
                        width: 100%;
                        height: 200px;
                        color: #fff;
                        .slide-title {
                            display: inline-block;
                            font-size: 35px;
                            background-color: #111;
                        }
                        .slide-category {
                            width: 100px;
                            height: 30px;
                            font-size: 18px;
                            text-align: center;
                            margin-top: 50px;
                            background-color: #02B468;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}