.mypage-wrapper {
    width: 100%;
    background-color: #ddd;
    .acount-inner {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-top: 150px;
        .acount-data {
            max-width: 300px;
            width: 100%;
            padding: 20px;
            margin: 10px;
            color: #fff;
            vertical-align: top;
            background-color: #5a5a5a;
            border-radius: 10px;
            display: inline-block;
            &-icon {
                width: 160px;
                height: 160px;
                margin: 40px auto;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                border: 3px solid #ddd;
            }
            &-text {
                text-align: center;
                &-name {
                    margin-top: 10px;
                    font-size: 25px;
                    font-family: 游ゴシック;
                    font-weight: bold;
                }
            }
            &-favorite {
                font-family: "icomoon";
                font-weight: bold;
            }
            &-list {
            }
        }
    }
}
